.vs
packages

**/App_Data
**/App_Start
**/bin
**/Content
**/fonts
**/obj
**/Properties
**/Scripts
**/CarInsurance.csproj
**/CarInsurance.csproj.user
**/favicon.ico
**/Global.asax
**/Global.asax.cs
**/packages.config
**/Web.config
**/Web.Debug.config
**/Web.Release.config